
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  overflow-y: auto; 
  min-height: 100vh; 
}


.audio-player {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  margin: 20px auto; 
  text-align: center;
}



.logo img {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}


h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}


#trackInfo {
  margin-bottom: 15px;
  font-size: 18px;
  color: #555;
}


button {
  align-items: center;
  appearance: none;
  background-color: #0a2745;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffedbf;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button :focus{
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover{
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active{
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}




audio {
  width: 100%;
  margin: 10px 0;
  outline: none;
}


.track-list {
  max-height: 300px; 
  overflow-y: scroll; 
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.track-list.hidden {
  display: none;
}

.track-item {
  background-color: #f7f9fc;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: #333;
  font-size: 16px;
}

.track-item:hover {
  background-color: #dceafc;
  transform: scale(1.05);
}

.track-item:active {
  background-color: #c3ddf5;
}


body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
